/* Debung code */


 /* Basislayout */

* {
  overflow: auto;
  box-sizing: border-box;
}

html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(255, 255, 255);  
    
    color: #000000;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 1000px;
    position: relative;
}


article {
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}


header {
    color: rgb(0, 0, 0);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}

/* specifieke stijlen */

.icon-bar {
  width: 100%; /* Full-width */
  background-color: rgb(211, 37, 37); /* Dark-grey background */
  overflow: auto; /* Overflow due to float */
}

.icon-bar a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
  padding: 12px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 36px; /* Increased font size */
}

.icon-bar a:hover {
  background-color: #04AA6D; /* Add a hover color */
}

.active {
  background-color: #04AA6D; /* Add an active/current color */
}



img.plaatje-rechts {
  float: right;
  width: 40%;
  margin-left: 15px;
}

img.plaatje-links {
  float: left;
  margin-right: 15px;
  width: 40%
}

img { 
   width: 100%;
}

img.plaatje-midden {
padding: 10px;
}

.kolomrechts {
  float: right;
  width: calc( 100% - 200px);
}

.kolomLinks {
  float: left;
  width: calc ( 100% - 200px);
}

.smalltext {
    font-size: 0.7em;
}

.floatClear {
  clear: both;
}

a {
    color: rgb(43, 150, 16);
    text-decoration: none;
}

p {
  padding: 5px;
  margin: 5px;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #dddddd;
    overflow: hidden;
}

nav ul li {
    float: center;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #aaaa;
}

nav li a.active {
    background-color: rgb(43, 150, 16);
}




